body {
  padding: 0;
  margin: 0;
}

.site__wrapper {
  max-width: 960px;
  margin: 0 auto;
}
//header
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 19px;
  margin-top: 24px;
  border-bottom: 1px solid #6e6e6e;
}

.header__block1,
.header__block2,
.header__block3 {
  height: 108px;
  background-color: #777;
}

.header__block1 {
  width: 122px;
}

.header__block2 {
  width: 100%;
  max-width: 279px;
}

.header__block3 {
  width: 100%;
  max-width: 513px;
}
//main
.main {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 25px;
  margin-top: 22px;
  border-bottom: 1px solid #686868;
}

.main__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.main__block4,
.main__block7 {
  width: 184px;
  background-color: #777;
}

.main__block4 {
  height: 335px;
}

.main__block7 {
  height: 132px;
}

.main__right {
  max-width: 766px;
  width: 100%;
}

.main__block5,
.main__block6,
.main__block8,
.main__block9 {
  background-color: #dcdcdc;
}

.main__block5 {
  max-width: calc(100% - 10px);
  height: 209px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.main__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.main__block6 {
  flex: 0 1 135px;
  width: 135px;
  height: 153px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main__block6:nth-child(5) {
  margin-right: 0;
}

.main__block6:nth-child(10) {
  margin-right: 0;
}

//main modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  img {
    max-width: 500px;
  }

  span {
    position: fixed;
    top: 5%;
    right: 5%;
    color: #fff;
    cursor: pointer;
  }
}

#idx {
  padding-left: 10px;
  color: #fff;
}


.main__blocks:last-child {
  margin-top: 10px;
  margin-left: 10px;
}

.main__block8,
.main__block9 {
  width: calc(50% - 10px);
  height: 200px;
}

.main__block8 {
  margin-right: 20px;
}

//footer

footer {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer__row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.footer__block10,
.footer__block11,
.footer__block12,
.footer__block13 {
  background-color: #777;
}

.footer__block10,
.footer__block11 {
  max-width: 297px;
  width: 100%;
  height: 180px;
  margin-right: 28px;
}

.footer__column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.footer__block12,
.footer__block13 {
  width: 310px;
  height: 75px;
}

//img

.header__block1,
.main__block7,
.footer__block13,
.main__block6 {
  background-position: 50% 50%;
  background-size: cover;
}

.header__block1 {
  background-image: url(../img/css.png);
}

.main__block7 {
  background-image: url(../img/js.png);
}

.footer__block13 {
  background-image: url(../img/html.jpg);
}

@media (max-width: 950px) {
  header {
    flex-flow: column;
    align-items: center;
  }
  footer {
    flex-flow: column wrap;
    align-items: center;
  }
  .footer__row {
    flex-flow: column;
    align-items: center;
  }

  .footer__block10,
  .footer__block11,
  .footer__block12,
  .header__block1,
  .header__block2,
  .header__block3,
  .main__block4,
  .main__block7,
  .main__block8 {
    margin-bottom: 20px;
  }
  .footer__block10,
  .footer__block11,
  .main__block8 {
    margin-right: 0px;
  }
}
@media (max-width: 720px) {
  .main {
    flex-flow: column;
    align-items: center;
  }
  .main__blocks {
    flex-flow: column;
    align-items: center;
  }
  .main__left {
    margin-right: 0;
  }

  .main__blocks:last-child{
    margin-left: 0;
  }
  .footer__column,
  .footer__block12,
  .footer__block13 {
    width: 100%;
  }

  .main__block5 {
    max-width: 100%;
    margin-left: 0;
  }
}
